

hr {
	margin-top: 50px;
}
footer {
	margin-top: 50px;
	margin-bottom: 50px;
}
footer p {
	font-family: 'Lato', sans-serif;
	text-align: center;
	font-size: 12px;
	letter-spacing: 2px;
	text-transform: uppercase;
}



.back-home{
	display: block;
	margin: auto;
	margin-bottom: 40px;
	margin-top: 40px;

}



.playsong{
	cursor: pointer;
}
