.header-black-box{
	position: absolute;
	top: 40vh;
	left: 5%;
	width: 90vw;
	height: 192px;
	background-color: black;
}
.container-video {
	overflow: hidden;
	background-attachment: fixed;
	background-position: center top;
	position: relative;
}

.tag-line{
	font-family: 'Lato';
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 10px;
	color: rgba(0, 0, 0, 0.5);
}
.bg-img{
	background-attachment: fixed;
	background-position: center bottom;
	background-repeat: no-repeat;
	background-size: cover;
	margin-bottom: -10px;
	margin-left: -10px;
	margin-right: -10px;
	margin-top: -10px;
}

.bg-img-container{
	position: relative;
	height: 300px;
	width: 100%;
	display: block;
	overflow: hidden;
	.bg-img{
		position: absolute;
		top: 0px;
		left: 0px;
		right: 0px;
		bottom: 0px;
		z-index: 1;
	}
	.title-container{
		position: absolute;
		width: 50%;
		left: 50%;
		margin-left: -25%;
		top: 100px;
		z-index: 2;
		background-color: #000;
		height: 35%;
		padding-top: 1%;
		h1{
			color: #FFF;
			text-align: center;
		}
	}
}




@-webkit-keyframes infiniteRotate {
	100%{
		transform: rotate(180deg);
	}
}




.header-black-box span{
	color: #FFF;
	position: absolute;
	top: 55px;
	left: 350px;
}

#bg{

	width: 100%;
	display: block;
	margin: 0;
	padding: 0;
	overflow: hidden;

}

.header-black-box h1{
	font-family: 'Libre Baskerville', serif;
	color: #FFF;
	padding-top: 60px;
	padding-left: 15px;
	font-weight: 300;
	font-size: 50px;
}

.header-black-box p{
	color: #9e9e9e;
	font-style: italic;
	padding-left: 15px;
	letter-spacing: 10px;
}


.ab-btn{
	max-width: 250px;
	height: 40px;
	line-height: 40px;
	min-width: 150px;
	border: 1px solid #000;
	display: block;
	margin: auto;
	text-align: center;
	color: #000;
	overflow: hidden;
	font-family: 'Lato';
	text-transform: uppercase;

	margin-top: 60px;

	span{
		font-family: inherit;
		display: block;
		margin: auto;
	}
	.btn-e {
		transition: 0.3s all;
		position: relative;
		top: 0px;
		text-align: center;
	}

	.icon{
		transition: 0.3s all;
		position: relative;
		top: 200px;
		text-align: center;
		color: #000;
	}

	&:hover{
		text-decoration: none;
		.txt {
			position: relative;
			top: -100px;
		}

		.icon{
			top: -40px;
		}

	}



}

@media only screen and (max-width: 750px){
	.container-video h1{ font-size: 60px;}

}
