
<div class="full-bg"
ng-style="{'background-image':'url({{article.banner}})','background-color': '{{article.bgcolor}}'}"
>


<div class="hero-space"></div>
<div class="container-fluid">


  <div class="row">

    <div class="col-sm-12 u-pan">



      <div ng-repeat="sound in article.sounds" ng-init="outerIndex = $index">


        <sound
        ng-click="play(sound.url);"
        ng-class="{ 'bg-white' : outerIndex%2==0, 'bg-grey' : !(outerIndex%2==0)}"
        class="u-pls"
        >{{sound.title}}
        <div class="equalizer">
          <span class="bar bar-1"></span>
          <span class="bar bar-2"></span>
          <span class="bar bar-3"></span>
        </div>
      </sound>



    </div>



    <!-- <p>{{article.content}}</p> -->

  </div>
</div>
</div>


</div> <!-- row -->
</div>
