.button--dblcontent{
  font-family: $base-font-family;
  font-weight: 500;
  height: 40px;
  max-width: 250px;
  display: block;
  margin: auto;
  border-radius: initial;

  &:hover{
    .hovered{bottom: 20px;}
  }
}
