/**
*
*  Header
*
*/
*{
  box-sizing: border-box;
}
.home-header{
  position: relative;
  padding: 20px;

  article{
    height: 550px;
    width: 530px;

    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -275px;
    margin-left: -275px;
  }


  @media only screen and (max-width: 650px){
    article{
      height: auto;
      width: auto;
      position: static;
      margin: auto;
      margin-top: 50px;
    }
  }


  h1{
    font-size: 70px;
    text-align: center;
    font-family: $header-font-family;
    &:after{
      display: block;
      margin: auto;
      width: 390px;
      height: 2px;
      content: " ";
      border-bottom: 1px;
      background-color: #000;
    }
  }


}


/**
*
*  HOME BODY
*
*/
.home-body{
  img{
    transition: 0.3s all;
    &:hover{transform: scale(1.05);}
  }

  .panel{
    width: 100%;
    height: 25vh;
    position: relative;
    overflow: hidden;
    display: block;
  }

  .panel .panel-inner .title{
    padding-top: 12.5vh;
    text-align: center;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 5px;
  }

  .panel .panel-inner {
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    position: absolute;
    height: 100%;
    width: 100%;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    -ms-transform-origin: center center;
    transform-origin: center center;
    background-blend-mode: multiply;
    z-index: 1;
    -webkit-transition: all 0.3s cubic-bezier(0.79, -0.48, 0.43, 0.6);
    transition: all 0.3s cubic-bezier(0.79, -0.48, 0.43, 0.6);
  }

}
